.moviesearch {
 width: 100%;
 display: flex;
 align-items: center;
 position: relative;
 margin-top: 22px;
}
.movieinput {
 flex: 1;
 margin-right: 10px;
 position: relative;
 background-color: transparent;
 width: 100%;
 height: 26px;
 color: #d1d5db;
 padding: 6px 10px 6px 10px;
 border-radius: 6px;
 border: 2px solid #d1d5db;
}
.movieinput::placeholder {
 color: #d1d5db;
}
.seachimg {
 cursor: pointer;
 position: absolute;
 right: 20px;
}
