.nav {
 display: flex;
 height: 80px;
 width: 100%;
 justify-content: space-between;
}
.companytitle_cont {
 display: flex;
 width: 15%;
 margin-top: 15px;
 margin-left: 95px;
}
.logo {
 width: 50px;
 height: 50px;
}
.companyName {
 color: white;
 font-weight: 700;
 font-family: "DM Sans", sans-serif;
 margin-left: 25px;
}
.moviesearch_container {
 width: 50%;
}
.signin_cont {
 width: 20%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.menu_cont {
 background-color: #be123c;
 border-radius: 50%;
 width: 36px;
 height: 36px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.signin {
 margin-right: 30px;
 color: white;
 font-size: 16px;
 font-weight: 700;
 line-height: 24px;
 letter-spacing: 0em;
 text-align: left;
}

.menu {
 width: 20px;
 border-radius: 2px;
 height: 3px;
 background-color: white;
 margin: 2px;
}
/**RESPONSIVENESS STYLING*/
@media (min-width: 300px) and (max-width: 599px) {
 .nav {
  flex-direction: column;
 }
 .companytitle_cont {
  width: 100%;
  margin-left: 5px;
 }
 .companyName {
  margin-left: 1px;
 }
 .moviesearch_container {
  width: 100%;
  margin-top: -30px;
 }
 .signin_cont {
    margin-top: 10px;
  width: 30%;
 }
 .signin {
  margin-right: 3px;
 }
}
@media (min-width: 600px) and (max-width: 799px) {
 .companytitle_cont {
  width: 25%;
  margin-left: 5px;
 }
 .companyName {
  font-family: "DM Sans", sans-serif;
  margin-left: 1px;
 }
 .moviesearch_container {
  width: 40%;
 }
 .signin_cont {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
 }
 .signin {
  margin-right: 3px;
 }
}
@media (min-width: 800px) and (max-width: 1023px) {
 .companytitle_cont {
  width: 25%;
  margin-left: 30px;
 }
}
@media (min-width: 1024px) and (max-width: 1104px) {
 .companytitle_cont {
  width: 25%;
  margin-left: 30px;
 }
}
