.movielist {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.movielist_cont {
 width: 90%;
}
.movielist h2 {
 font-family: "DM Sans", sans-serif;
 align-self: flex-start;
 font-size: 36px;
}
.iconposition {
 display: flex;
 justify-content: center;
 align-items: center;
}

.iconposition svg {
 height: 80px;
 width: 60px;
 fill: black;
 animation: rotate 2s infinite linear;
}
@keyframes rotate {
 0% {
  transform: rotate(0);
 }

 100% {
  transform: rotate(360deg);
 }
}

.movie-grid {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-template-rows: auto;
 gap: 30px;
}
.seemore_div {
 background-color: transparent;
 height: 20px;
 align-self: center;
 margin-right: 30px;
 font-family: "DM SANS", sans-serif;
 font-size: 18px;
 line-height: 24px;
 color: rgba(190, 18, 60, 1);
 border: none;
 outline: none;
 font-weight: 400;
}
.featured_cont {
 display: flex;
 justify-content: space-between;
}

/**RESPONSIVENESS STYLING*/
@media (min-width: 300px) and (max-width: 449px) {
 .movie-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1px;
 }
}
@media (min-width: 450px) and (max-width: 599px) {
 .movie-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1px;
 }
}
@media (min-width: 600px) and (max-width: 799px) {
 .movie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 40px;
 }
}
@media (min-width: 800px) and (max-width: 1023px) {
 .movie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
 }
}
@media (min-width: 1024px) and (max-width: 1100px) {
 .movie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
 }
}
